@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body { 
  font-family: 'Roboto', sans-serif;
}

h1, .h1 { 
  font-size: 50px; 
  font-weight: 500; 
  color: #fff; 
  line-height: 1.08; 
}

h2, .h2 { 
  font-size: 40px; 
  font-weight: 700; 
  color: #4F4F4F; 
  line-height: 1.2; 
}

h3, .h3 { 
  font-size: 30px; 
  font-weight: 700; 
  color: #565656; 
  line-height: 1.2; 
}

p { 
  font-size: 16px; 
  font-weight: 400; 
  color: #4F4F4F; 
  line-height: 1.3; 
}

.container { 
  max-width: 1262px; 
  padding: 0 50px; 
  width: 100%; 
}

.blue-btn {
  display: inline-block;
  background-color: rgba(0, 96, 114, 0.6); 
  border-radius: 27px; 
  border: 1px solid #FFFFFF; 
  height: 54px; 
  line-height: 15px; 
  color: #fff !important; 
  text-decoration: none; 
  min-width: 225px; 
  font-size: 18px; 
  transition: all 0.3s ease; 
}

/*banner section*/
.hero-banner-section 
a.scroll-link { 
  display: inline-block; 
  position: relative; 
  transition: all 0.3s; 
}

.hero-banner-section 
a.scroll-link:hover { 
  transform: translateY(10px); 
}

.hero-banner-section { 
  padding: 200px 0 80px; 
  min-height: 100vh; 
  display: flex; 
  align-items: flex-end; 
  justify-content: flex-end; 
  position: relative; 
}

.hero-banner-section 
.scroll-link-wrapper { 
  position: absolute; 
  left: 0; 
  top: auto; 
  bottom: 30px; 
  right: 0; 
  text-align: center; 
}

.hero-banner-section 
.container { 
  max-width: 1460px; 
  padding: 0 15px; }

.hero-banner-section h1 { 
  margin-bottom: 14px; }

.hero-banner-section ul { 
  list-style-type: none; 
  padding: 0; 
  margin-bottom: 15px; }

.hero-banner-section ul li { 
  position: relative; 
  color: #fff; 
  padding-left: 28px; 
  margin-bottom: 5px; 
  line-height: 1.38; }

.hero-banner-section ul li:last-child { 
  margin-bottom: 0; }

.hero-banner-section ul li:before { 
  position: absolute; 
  content: ''; 
  left: 0; 
  top: 5px; 
  width: 13px; 
  height: 10px; 
  background-image: url('../images/ic-check.png'); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; }

.hero-banner-section 
.btn-wrapper { 
  margin-bottom: 100px; 
}

.hero-banner-section 
.step-wrapper { 
  margin: 0 0 100px; 
}

.hero-banner-section 
.step-wrapper 
.row 
.col-lg-3 { 
  text-align: center; 
  padding: 0; 
  position: relative; 
}

.hero-banner-section 
.step-wrapper 
.row 
img
{ 
  height: 55px;
  width: 52px; 
}


.hero-banner-section 
.step-wrapper 
.row 
.col-lg-3+.col-lg-3 
.step { 
  padding-left: 140px; 
}

.hero-banner-section 
.step-wrapper 
.row 
.col-lg-3+.col-lg-3 
.step:before { 
  position: absolute; 
  content: ''; 
  top: 20px; 
  left: 35px; 
  width: 85px; 
  height: 23px; 
  background-image: url('../images/step-arrow-down.png'); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; }

.hero-banner-section 
.step-wrapper 
.row 
.col-lg-3:nth-child(odd) 
.step:before { 
  background-image: url('../images/step-arrow-up.png'); 
}

.hero-banner-section 
.step-wrapper 
.row 
.step span { 
  display: block; 
  margin-bottom: 35px; 
}

.hero-banner-section 
.step-wrapper 
.row 
.step span img { 
  display: inline-block; 
  max-width: 62px; }

.hero-banner-section 
.step-wrapper 
.row .step p {
  color: #fff; 
  font-size: 20px; 
  line-height: 1.2; 
  margin-bottom: 0; }


/* why helper hand */
.why-helperhand { 
  padding: 80px 0; }

.why-helperhand 
.helperhand-wrapper .img-block { 
  margin: 0 auto 35px; }

.why-helperhand 
.helperhand-wrapper p { 
  margin-bottom: 0; 
  font-size: 17px; }

.why-helperhand h2 { 
  margin-bottom: 80px; }

.why-helperhand 
.helperhand-wrapper { 
  margin: 0 -32px; }

.why-helperhand 
.helperhand-wrapper p { 
  margin-top: 30px; }

.why-helperhand 
.helperhand-wrapper>div { 
  padding: 0 32px; }

.why-helperhand 
.container { 
  max-width: 1230px; }


/*blog section*/
.blog-section { 
  padding: 135px 0 50px; 
  position: relative; }

.blog-section:before { 
  content: ''; 
  position: absolute; 
  left: 0; top: 100px; 
  background-image: url(../images/blog-left-bg.png); 
  background-repeat: no-repeat; 
  width: 154px; 
  height: calc(100% - 100px); 
  z-index: -1; }

.blog-section:after { 
  content: ''; 
  position: absolute; 
  right: 0; 
  top: 100px; 
  background-image: url(../images/blog-right-bg.png); 
  background-repeat: no-repeat; 
  width: 174px; 
  height: calc(100% - 100px); 
  z-index: -1; }

.blog-description-block { 
  padding: 0 0 10px; }

.blog-description-block h2 { 
  max-width: 500px; }

.blog-description-block p { 
  font-size: 18px; 
  margin: 0 0 25px; 
  max-width: 620px; }

.blog-description-block 
.image-wrapper { 
  text-align: right; }

.our-blog-block h2 { 
  margin: 0 0 62px; }

.our-blog-block 
.blog-image { 
  position: relative; 
  padding-bottom: 45.5%; }

.our-blog-block 
.blog-image img { 
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; top: 0; 
  object-fit: cover; }

.our-blog-block 
.blog-content { 
  padding: 20px; 
  background: #fff; 
  border-radius: 0 0 4px 4px; }

.our-blog-block 
.blog-content p { 
  margin: 0 0 20px; }

.our-blog-block 
.blog-content h3 { 
  font-size: 20px; 
  color: #3d4046; 
  margin: 0; }

.our-blog-block 
.blog-content span { 
  font-size: 13px; 
  color: #a3a3a3; 
  display: block; 
  margin: 0 0 10px; }

.our-blog-block 
.blog-detail { 
  box-shadow: 0 0 30px 0 #e4ebf0; }

.arrow-link { 
  font-size: 18px; 
  color: #4f4f4f !important; 
  font-weight: 400; 
  text-decoration: none; }

.arrow-link em { 
  margin-left: 10px; 
  position: relative; 
  right: 0; 
  transition: all 0.5s; }


/*what our customer says*/
.customer-section { 
  padding: 58px 0; 
  background-color: #F4F5F8; }

.customer-section h2 { 
  margin-bottom: 56px; }

.customer-section 
.customer-wrapper { 
  margin: 0 -26px -40px; }

.customer-section 
.customer-wrapper>div { 
  padding: 0 26px 40px; }

.customer-section 
.customer-wrapper 
.customer-inner { 
  border-left: 3px solid #1d7a8c; 
  box-shadow: 0 0 30px 0 #e4ebf0; 
  padding: 43px 20px 30px 40px; 
  position: relative; 
  border-radius: 4px; 
  background: #fff; }

.customer-section 
.customer-wrapper 
.customer-inner 
.person-image { 
  height: 70px; 
  max-width: 70px; 
  flex: 0 0 70px; 
  border-radius: 50%; }

.customer-section 
.customer-wrapper 
.customer-inner 
.person-image img { 
  height: 100%; 
  width: 100%; 
  max-width: inherit; 
  object-fit: cover; 
  border-radius: 50%; }

.customer-section 
.customer-wrapper 
.customer-inner 
.person-content { 
  max-width: calc(100% - 70px); 
  flex: 0 0 calc(100% - 70px); 
  padding-left: 15px; }

.customer-section .customer-wrapper 
.customer-inner .person-content span { 
  display: block; }

.customer-section .customer-wrapper 
.customer-inner .person-content 
.person-name { 
  font-weight: 700; font-size: 20px; 
  line-height: 1; }

.customer-section .customer-wrapper 
.customer-inner .person-content 
.person-city { color: #8E8E8E; 
  font-size: 14px; }

.customer-section .customer-wrapper 
.customer-inner .message-infor { 
  position: absolute; right: 20px; 
  top: 20px; }

.customer-section .customer-wrapper 
.customer-inner .person-info { 
  margin-bottom: 22px; }

.customer-section .customer-wrapper 
.customer-inner p { color: #565656; 
  line-height: 1.38; margin-bottom: 22px; }


/*footer*/
.site-footer .container { 
  max-width: 1420px; }

.site-footer .footer-top { 
  background: #111111; 
  padding: 27px 0; }

.site-footer a { 
  display: inline-block; }

.site-footer ul { 
  list-style: none; 
  padding: 0; 
  margin: 0; }

.site-footer ul.footer-navigation li a:hover, .site-footer ul.social-media-list a:hover { opacity: 0.8; }
.site-footer ul.footer-navigation { 
  flex-wrap: wrap; }

.site-footer ul.footer-navigation li+li { 
  margin-left: 30px; }

.site-footer ul.footer-navigation li a { 
  color: #F1F1F1; text-decoration: none; 
  text-transform: uppercase; 
  font-size: 14px; line-height: 2.14; 
  transition: opacity 0.3s; }

.site-footer ul.social-media-list li { 
  text-align: center; }

.site-footer ul.social-media-list a { 
  width: 20px; height: 20px; 
  transition: opacity 0.3s; }

.site-footer ul.social-media-list li:last-child { 
  margin-left: 20px; }

.site-footer 
.footer-bottom { 
  background: #292929; 
  position: relative; 
}

.site-footer 
.line {
  padding: 0px 0 0px; 
  height: 1px; 
  max-width: 1000px; 
  background-color: #dcdcdc; 
  margin: 0px 0;
}

.ok-btn { 
  position: absolute; 
  text-decoration: none; 
  color: #4F4F4F !important; 
  background: #EED507; 
  border-radius: 20px; 
  width: 99px; 
  height: 40px; 
  line-height: 1px; 
  right: 15px; 
  top: 50%; 
  transform: translateY(-50%); 
}

.site-footer 
.footer-bottom p { 
  color: #f1f1f1; 
  padding: 0 15px 12px 120px;
  
  margin-bottom: 0; 
  font-size: 14px; }

.site-footer 
.footer-bottom p a { 
  text-decoration: none; 
  color: #6EABEF; }


/*get-our-newsletter*/

.our-news-letter { 
  padding: 40px; 
  background-color: #fff; 
}

.our-news-letter 
.container 
{ 
  position: relative; 
  max-width: 1420px; 
}

.our-news-letter a { 
  display: inline-block; 
}

.our-news-letter 
.scroll-top { 
  position: absolute; 
  width: 48px; 
  height: 48px; 
  background: #525252; 
  border-radius: 50%; 
  left: 0; 
  line-height: 0px; 
}

.our-news-letter 
.message-boat {
  position: absolute; 
  width: 48px; 
  height: 48px;
  right: 0; 
}

.our-news-letter h2 { font-size: 18px; 
  margin-bottom: 16px; }

.our-news-letter .form-row 
.form-control { border-radius: 20px; 
  border: solid 1px #565656; 
  background-color: #f4f5f8; 
  color: #565656; font-size: 14px; 
  height: 40px; line-height: 40px; 
  padding: 0 22px; }

.our-news-letter .form-row 
.form-control:focus { 
  box-shadow: none; }

.our-news-letter 
.btn-wrapper { margin-left: 11px; }

.red-btn { 
  background-color: #FF7B6D; 
  font-size: 14px; 
  line-height: 37px; 
  height: 40px; 
  border-radius: 20px; border: none; 
  outline: none; color: #fff; 
  width: 88px; transition: 0.3s all; }

.red-btn:hover { 
  background-color: #eb6e61; 
  color: #fff; }

.site-header { 
  background-color: transparent; 
  padding: 10px 17px; position: fixed; 
  width: 100%; z-index: 9; }

.site-header.fixed { 
  background-color: #73706C; }

.site-header .header-wrapper a.logo-block { 
  width: 175px; }

.site-header .header-wrapper a.logo-block img { 
  width: 100%; }

.site-header.fixed 
.header-wrapper a.logo-block { 
  width: 130px; }

.site-header .header-wrapper 
.header-right-block .navbar 
.nav-item .nav-link:not(.border-btn) { 
  color: #fff; font-size: 17px; 
  transition: all 0.3s; 
  position: relative; padding: 0; }

.site-header .header-wrapper 
.header-right-block .navbar 
.nav-item+.nav-item { 
  margin-left: 20px; }

.navbar-expand-lg .navbar-nav 
.nav-link.border-btn { 
  border-radius: 20px; 
  border: solid 1px rgba(255, 255, 255, 0.5); 
  height: 40px; line-height: 38px; 
  padding: 0 20px; color: #fff; 
  font-size: 16px; transition: all 0.3s; 
  min-width: 94px; text-align: center; }

.custom-dropdown select { 
  background: transparent; 
  border: none; }

.select2-container--default 
.select2-selection--single { 
  background: transparent; 
  border: none; }

.custom-dropdown { margin-left: 21px; }

.custom-dropdown 
.select2-container--default 
.select2-selection--single 
.select2-selection__arrow { 
  top: 50%; 
  transform: translateY(-50%); 
  height: 15px; 
  width: 15px; 
  background-image: url('../images/white-arrow.svg'); 
  right: 0; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: 15px 15px; 
  z-index: 10; 
  transition: all 0.3s; }

.custom-dropdown 
.select2-container--default.select2-container--open 
.select2-selection--single 
.select2-selection__arrow { 
  transform: translateY(-50%) rotate(180deg); 
}

.custom-dropdown 
.select2-container--default 
.select2-selection--single 
.select2-selection__arrow b { 
  display: none; 
}

.custom-dropdown 
.select2-container--default 
.select2-selection--single 
.select2-selection__rendered { 
  padding: 0; 
}

.custom-dropdown 
.select2-container--default 
.select2-results__option--highlighted[aria-selected] { 
  background-color: #565656; 
}

.select2-container--open 
.select2-dropdown { 
  left: auto; right: -5px; 
}

.custom-dropdown 
.select2-dropdown { 
  border: 1px solid #565656; 
  border-radius: 0; 
  width: 140px !important; 
}

.select2-results__option { 
  font-family: 'Roboto', sans-serif; 
  font-size: 16px; }

.custom-dropdown 
.select2-container { 
  width: 46px !important; 
}

.navbar-toggler { 
  border: 2px solid #fff; 
  padding: 2px 8px; 
}

.navbar-toggler-icon { 
  background-image: url('../images/hamburger.svg'); 
}
  
.navbar-toggler:focus { 
  box-shadow: none; 
}




/*media*/
@media(min-width:767px) /*applied on greater then 767px*/
{ 
    .hero-banner-section 
    .step-wrapper 
    .row 
    .col-lg-3 
    { 
      width: auto; 
    }

    .our-blog-block 
    .blog-wrapper { 
      margin: 0 -20px -40px; 
    }

    .our-blog-block 
    .blog-wrapper 
    .blog-detail-outer { 
      padding: 0 20px; 
      margin-bottom: 40px }
}


@media (min-width:992px) 
{
    .arrow-link:hover em { 
      right: -10px; 
    }

    .site-header 
    .header-wrapper 
    .header-right-block 
    .navbar 
    .nav-item 
    .nav-link:not(.border-btn):hover:before { 
      width: 100%; 
    }
    
    .navbar-expand-lg 
    .navbar-nav 
    .nav-link.border-btn:hover { 
      background-color: #fff; 
      color: #4F4F4F; 
    }

    .blue-btn:hover { 
      background-color: #fff; 
      color: rgba(0, 96, 114, 1) !important; 
    }

    .ok-btn:hover { 
      background: #d1bb05; 
      color: #4f4f4f !important; 
    }

    .site-header 
    .header-wrapper 
    .header-right-block 
    .navbar 
    .nav-item 
    .nav-link:not(.border-btn):before { 
      position: absolute; 
      content: ''; 
      width: 0; 
      height: 2px; 
      bottom: 0; 
      left: 0; 
      transition: all 0.3s; 
      background-color: #fff; 
    }
}


@media(max-width:1550px) 
{
    .hero-banner-section 
    .btn-wrapper { 
      margin-bottom: 80px; 
    }
}


@media screen and (max-width:1440px) /*applied on less then 1440px*/
{
    .our-news-letter 
    .scroll-top { 
      left: 20px; 
    }

    .our-news-letter 
    .message-boat { right: 20px; 
    }
}


@media (max-width:1199px) 
{
    h1, .h1 { 
      font-size: 42px; }
    h2, .h2 { 
      font-size: 32px; }
    h3, .h3 { 
      font-size: 28px; }

    .container { 
      padding: 0 30px; 
    }

    .blue-btn { height: 54px; line-height: 52px; font-size: 16px; }
    .hero-banner-section ul { margin-bottom: 25px; }
    .hero-banner-section .step-wrapper .row .step { padding-left: 0; }
    .hero-banner-section .step-wrapper .row .col-lg-3+.col-lg-3 .step { padding-left: 85px; }
    .hero-banner-section .step-wrapper .row .col-lg-3+.col-lg-3 .step:before { left: -10px; }
    .hero-banner-section .step-wrapper .row .step p { font-size: 18px; }
    .hero-banner-section .btn-wrapper { margin-bottom: 60px; }
    .why-helperhand { padding: 50px 0; }
    .why-helperhand h2 { margin-bottom: 40px; }
    .why-helperhand .helperhand-wrapper { margin: 0 -15px; }
    .why-helperhand .helperhand-wrapper>div { padding: 0 15px; }
    .why-helperhand .helperhand-wrapper p { margin-top: 20px; }
    .why-helperhand .helperhand-wrapper .img-block { margin-bottom: 20px; }
    .blog-section { padding: 70px 0 50px; }
    .blog-description-block .image-wrapper img { width: 100%; }
    .customer-section { padding: 40px 0 50px; }
    .customer-section .customer-wrapper .customer-inner .person-content .person-name { font-size: 18px; }
    .customer-section .customer-wrapper .customer-inner { padding: 40px 20px 20px 30px; }
    .customer-section .customer-wrapper .customer-inner .message-infor { right: 13px; top: 13px; }
    .ok-btn { position: relative; right: 0; transform: none; top: 0; }
    .site-footer .footer-bottom p { margin-bottom: 20px; }
    .custom-dropdown { margin-left: 20px; }
    .site-header .header-wrapper .header-right-block .navbar .nav-item+.nav-item { margin-left: 10px; }
    .navbar-expand-lg .navbar-nav .nav-link.border-btn { padding: 0 15px; }
    .site-header .header-wrapper a.logo-block, .site-header.fixed .header-wrapper a.logo-block { width: 150px; }
    .why-helperhand .helperhand-wrapper .img-block img { width: 100%; }
}

@media (max-width:991px) 
{
    .blog-description-block p { 
      font-size: 16px; 
    }

    .hero-banner-section 
    .btn-wrapper .blue-btn { 
      height: 46px; 
      line-height: 4px; 
    }

    .hero-banner-section 
    .btn-wrapper { 
      margin-bottom: 65px; 
    }

    .hero-banner-section 
    .step-wrapper 
    .row 
    .step 
    p { 
      font-size: 16px; 
    }

    .hero-banner-section 
    .step-wrapper 
    .row 
    .step 
    span 
    img { 
      max-width: 45px; 
    }
    
    .hero-banner-section 
    .step-wrapper 
    .row 
    .col-lg-3+.col-lg-3 
    .step:before { 
      width: 68px; 
      height: 19px; 
    }

    .hero-banner-section 
    .step-wrapper 
    .row 
    .col-lg-3+.col-lg-3 
    .step { 
      padding-left: 55px; 
    }

    .hero-banner-section 
    .step-wrapper 
    .row 
    .step 
    span { 
      margin-bottom: 25px; 
    }

    .why-helperhand 
    .helperhand-wrapper>div { 
      margin-bottom: 30px; 
    }

    .why-helperhand { 
      padding-bottom: 20px; 
    }

    .why-helperhand 
    .helperhand-wrapper 
    .img-block { 
      height: 200px; 
      width: 200px; 
    }
    
    .blog-wrapper>div { 
      margin-bottom: 30px; 
    }

    .blog-description-block 
    .image-wrapper { 
      text-align: center; 
    }

    .blog-section:before { 
      display: none; 
    }

    .blog-section:after { 
      display: none; 
    }

    .blog-section { 
      padding: 20px 0 40px; 
    }

    .blog-section 
    .blog-wrapper { 
      margin-bottom: -30px; 
    }

    .our-blog-block h2 { 
      margin: 0 0 35px; 
    }

    .customer-section h2 { 
      margin-bottom: 25px; 
    }
    
    .customer-section 
    .customer-wrapper { 
      margin: 0 -20px -40px; 
    }

    .customer-section 
    .customer-wrapper>div { 
      padding: 0 20px 40px; 
    }

    .customer-section { 
      padding-top: 30px; 
    }

    .footer-widget { 
      text-align: center; }

    .footer-widget+.footer-widget { 
      margin-top: 20px; 
    }

    .site-footer 
    ul.social-media-list { 
      justify-content: center !important; 
    }

    .site-header 
    .header-wrapper 
    .header-right-block 
    .navbar 
    .nav-item+.nav-item { 
      margin-left: 0; 
      margin-top: 20px; 
    }
    
    .site-header 
    .header-wrapper 
    .header-right-block 
    .navbar 
    .nav-item { 
      display: block; 
      text-align: left 
    }

    .navbar { 
      position: inherit; 
    }

    .navbar-collapse { 
      position: absolute; 
      width: 100%; 
      height: 100%; 
      left: 0; 
      right: 0; 
      top: 100%; 
    }

    .site-header, .site-header.fixed { 
      background-color: #4F4F4F; 
    }

    .navbar-collapse 
    .navbar-nav { 
      padding: 30px 15px; 
      background-color: #4F4F4F; 
      align-items: flex-start !important; 
    }

    .site-header 
    .header-wrapper 
    .header-right-block 
    .navbar 
    .nav-item 
    .nav-link:not(.border-btn) { 
      line-height: 1.2; 
      font-size: 22px; 
    }

    .navbar-expand-lg 
    .navbar-nav 
    .nav-link.border-btn { 
      font-size: 22px; 
      border-radius: 0; 
      border: none; 
      padding: 0; 
      height: 100%; 
      line-height: 1.2; 
      min-width: 100%; 
    }

    .site-header 
    .header-wrapper 
    a.logo-block 
    img { 
      max-width: 100px; 
    }
}
@media (max-width:767px) 
{
    h1, .h1 { font-size: 38px; }
    h2, .h2 { font-size: 30px; }
    h3, .h3 { font-size: 24px; }
    .container { padding: 0 15px; }
    .site-header .header-wrapper a.logo-block, .site-header.fixed .header-wrapper a.logo-block { width: 100px; }
    .site-header { padding: 10px 15px; }
    .hero-banner-section { padding-top: 150px; }
    .hero-banner-section .btn-wrapper { margin-bottom: 40px; }
    .hero-banner-section .step-wrapper .row .col-lg-3 .step, .hero-banner-section .step-wrapper .row .col-lg-3+.col-lg-3 .step { padding: 0 15px 30px; }
    .hero-banner-section .step-wrapper { margin-bottom: 0; max-width: 480px; }
    .hero-banner-section .step-wrapper .row .col-lg-3+.col-lg-3 .step:before { left: -25px; }
    .why-helperhand { padding: 40px 0 10px; }
    .why-helperhand h2 { margin-bottom: 25px; }
    .why-helperhand .helperhand-wrapper p { margin-top: 15px; }
    .why-helperhand .helperhand-wrapper .img-block { margin-bottom: 15px; }
    .blog-description-block h2, .blog-description-block p { max-width: 100%; }
    .blog-description-block p { margin: 0 0 15px; }
    .blog-description-block { padding: 0 0 40px; }
    .blog-wrapper>div { margin-bottom: 24px; }
    .blog-section .blog-wrapper { margin-bottom: -15px; }
    .our-blog-block h2 { margin: 0 0 20px; }
    .customer-section .customer-wrapper { margin: 0 -12px -24px; }
    .customer-section .customer-wrapper>div { padding: 0 12px 24px; }
    .hero-banner-section .step-wrapper .row .col-lg-3.process-item-3 { order: 4; }
    .hero-banner-section .step-wrapper .row .col-lg-3.process-item-4 { order: 3; }
    .hero-banner-section .step-wrapper .row .col-lg-3.process-item-3 .step:before { left: auto; right: 0; background-image: url('../images/step-arrow-down.png'); transform: rotate(90deg) translateY(50%); top: -25%; }
    .hero-banner-section .step-wrapper .row .col-lg-3.process-item-4 .step:before { left: auto; right: -45px; transform: rotate(180deg); }
    .our-news-letter { padding-bottom: 75px; }
    .our-news-letter .scroll-top { width: 40px; height: 40px; left: 50%; line-height: 35px; bottom: -58px; top: auto; transform: translateX(-50%); position: absolute; z-index: 1; }
    .our-news-letter .message-boat { width: 40px; height: 40px; right: 20px; top: auto; transform: none; bottom: 20px; position: fixed; z-index: 1; }
    .our-news-letter .message-boat img { max-width: 100% }
    .site-header .header-wrapper a.logo-block, .site-header.fixed .header-wrapper a.logo-block { width: 100px; }
    .site-header { padding: 10px 15px; }
}

@media(max-width:575px) 
{
    .why-helperhand 
    .helperhand-wrapper h3 { 
      height: auto !important; 
    }

    .hero-banner-section 
    .step-wrapper 
    .row 
    .col-lg-3+.col-lg-3 
    .step:before { 
      display: none; 
    }

    .hero-banner-section 
    .step-wrapper 
    .row 
    .col-lg-3.full-width { 
      flex: 0 0 100%; 
    }

    .hero-banner-section 
    .step-wrapper 
    .row 
    .step 
    span { 
      margin-bottom: 15px; 
    }

}


@media (max-width:479px) {
    .site-footer 
    ul.footer-navigation 
    li { 
      flex: 0 0 100%;
    }

    .site-footer 
    ul.footer-navigation 
    li+li { 
      margin-left: 0; 
    }
    
}

































/* --------FAQ------------- */

.faq-header{ 
  position: fixed; 
  z-index: 10; 
  background-color: #525252; 
  width: 100%;
}

.faq-header 
.container{ 
  max-width: 1520px;
}

.faq-header 
.container ul li a{
  font-family: 'Roboto';
  font-size: 17px;
  color: #fff;
  line-height: 24px; 
  position: relative;
}

.faq-header 
.container ul li a:hover{
  color: #fff;
}

.faq-header 
.container 
.navbar-nav 
.under-line a::before{
  content: '';
  position: absolute;
  display: block; 
  width: 100%; 
  height: 2px;
  bottom: 0; 
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease; 
  transform-origin: left;
}

.faq-header 
.container 
.navbar-nav 
.under-line a:hover::before{
  transform: scaleX(1);
}

.faq-header 
.navbar-nav 
.nav-item{
  margin-left: 20px;
}

.faq-header 
.container 
.navbar-nav 
.nav-item 
.border-btn{ 
  height: 40px; 
  border-radius: 20px; 
  background-color:#29626d;
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding-right: 20px; 
  padding-left: 20px;
}

.faq-header 
.container 
.navbar-nav 
.nav-item 
.border-btn:hover{
  background-color: #fff;
  color: #4F4F4F; 
}

.faq-header 
.container 
.navbar-nav 
.nav-item 
.border-btn-bg:hover{
  background-color: #fff;
  color: #4F4F4F;
}

.faq-header 
.container 
.navbar-nav 
.nav-item 
.border-btn-bg{
  height: 40px; 
  border-radius: 20px; 
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding-right: 20px; 
  padding-left: 20px;
}

.faq-banner { 
  padding: 100px 0 0px; 
  display: flex; 
  align-items: flex-end; 
  justify-content: flex-end; 
  position: relative; 
}

.faq-banner img{
  width:100%; 
  height: 100%;
}

.faq-section{
  padding: 40px 80px;
}

.faq-section 
.container{
  max-width: 1100px;
}

.faq-section 
.container h2{
  color: #4f4f4f; 
  font-size: 36px; 
  font-family: 'Roboto';
  line-height: 24px;
}

.faq-section 
.container img{
  margin-top: 14px; 
  margin-bottom: 40px;
}

.faq-section 
.container 
.line1,.line2{
  height: 1px; 
  background-color: #ccc; 
  width: 62px; 
  margin: 26px 9px 49px;
}

.faq-section 
.container 
.intro p{
  color: #646464;
  text-align: center; 
  font-size: 18px; 
  font-family: 'Roboto'; 
  margin: 0; 
  line-height: 24px; 
  padding-bottom: 5px;
}

.cust-user{
  padding: 0px 100px;
}

.cust-user 
.container 
.nav{
  max-width: 960px;
}

.cust-user 
.container ul{
  background-color: #f6f6f6; 
  max-width: 1000px;
}

.cust-user 
.container ul li{
  min-width: 455px;
}

.cust-user 
.container 
.nav-tabs 
.nav-link{
  border-bottom: 2px solid #1d7a8c; 
  height: 60px; 
  font-size: 24px; 
  line-height: 45px; 
  color: #646464; 
  text-transform: uppercase; 
  font-family: 'Roboto';
}

.cust-user 
.container 
.nav-tabs 
.nav-link.active{
  background-color: #1d7a8c; 
  color: #fff; 
}

.content{
  padding: 30px 0;
}

.content 
.container{
  max-width: 950px; 
  padding: 10px 0;
}

.content 
.container 
.que-ans{
  padding: 10px 10px;
}

.content 
.container 
.ans{ 
  margin-left: 40px;
}

.content 
.container 
.ans p{ 
  font-weight: normal; 
  line-height: 24px;
}

.content 
.container button{
  border: none; 
  background: transparent; 
  height: fit-content; 
  margin-right: 5px;
}

.content 
.container p{
  font-size: 16px; 
  font-family: 'Roboto'; 
  color: #646464; 
  font-weight: bold; 
  line-height: 1.6;
}

.copyright p,a{
  padding-top: 20px;
  font-size: 14px; 
  line-height: 1.71; 
  color: #9ba0a3; 
  font-family: 'Roboto';
}

.copyright 
#p1{
  margin-left: 20px;
}

.copyright 
#p2{
  margin-left: 5px;
}


































/*Price*/

.price-banner { 
  padding: 103px 0 0px; 
  display: flex; 
  align-items: flex-end; 
  justify-content: flex-end; 
  position: relative; 
}

.price-banner img{
  width:100%; 
  height: 100%;
}


.price 
.price-info{ 
  max-width: 550px; 
  height: 300px; 
  border: 1px solid #b0c9ce; 
  margin: 0 auto;
}

.price 
.price-info h2{
  color: #fff; 
  background-color: #1d7a8c; 
  height: 58px; 
  margin: auto; 
  line-height: 1.86;
  font-size: 28px; 
  font-family: 'Roboto';
}

.price 
.price-info 
.price-detail{
  margin-top: 30px;
}

.price 
.price-info 
.price-detail p{
  color: #646464; 
  font-family: 'Roboto'; 
  line-height: 0.8;
}

.price 
.price-info 
.price-detail #p1{
  font-size: 48px; 
  margin-right: 9px;
}

.price 
.price-info 
.price-detail #p2{
  font-size: 48px; 
  font-weight: bold; 
  margin-right: 3px;
}

.price 
.price-info 
.price-detail 
#p3{
  font-size: 30px;
  margin-top: 12px; 
  font-weight: normal;
} 

.price 
.price-info 
.point{
  margin: 0 150px; 
  padding-top: 20px;
}

.price 
.price-info 
.point 
.p1 img{
  margin: 0; 
  width: 25px; 
  height: 24px; 
  margin-right: 8px;
} 

.price 
.price-info 
.point 
.p1 p{
  font-size: 16px; 
  font-family: 'Roboto'; 
  color: #646464; 
  line-height: 1.5;
}

.price 
.line{
  height: 1px; 
  max-width: 1000px; 
  background-color: #424242; 
  margin: 50px 0;
}

.price 
.extra-info 
.image{
  border: 1px solid #b0c9ce; 
  width: 100px; 
  height: 100px ; 
  border-radius: 50%; 
  margin-left: 45px;
}

.price 
.extra-info 
.image img{
  margin: 25px 0;
}

.price 
.extra-info 
.img3 img {
  margin: 33px 0; 
}

.price 
.extra-info h3{
  padding-top: 15px; 
  font-size: 16px; 
  font-family: 'Roboto'; 
  color: #646464;
  line-height: 1.38; 
  font-weight: normal; 
  margin-bottom: 5px;
}

.price 
.extra-info p{ 
  font-size: 18px; 
  font-family: 'Roboto'; 
  color: #1d7a8c;
  line-height:1.44; 
  font-weight: bold;
}



.include{
  background-color: #f6f6f6;
}

.include 
.container{
  max-width: 1200px;
}

.include 
.faq-section{
  padding: 70px 0;
}

.include 
.row img{
  margin-bottom: 20px;
}

.include 
.row h3{
  font-size: 20px; 
  color: #4f4f4f; 
  font-family: 'Roboto'; 
  font-weight: bold; 
  line-height: 1.2; 
  text-align: left; 
  margin-left: 7px;
}

.include 
.row 
.col-lg-4:first-child{
  margin-bottom: 35px;
}

.include 
.row 
.details{
  padding-top: 15px;
}

.include 
.row 
.point img{
  margin:0 10px 0 7px; 
  height: fit-content;
}


.whyhelperland{
  padding-top: 50px;
}

.whyhelperland 
.container{
  max-width: 1200px;
}

.whyhelperland 
.container 
.row h3{
  font-size: 20px;
  font-family: 'Roboto'; 
  font-weight: bold;
  color: #646464; 
  line-height: 1.2;
}

.whyhelperland 
.container 
.row p{
  font-size: 14px; 
  font-family: 'Roboto';
  font-weight: normal; 
  color: #646464; 
  line-height: 1.43; 
  max-width: 290px;
}

.whyhelperland 
.container 
.row 
.col-lg-4:first-child P{
  margin-left: 80px;
}

.whyhelperland 
.container 
.row #p1{
  margin-bottom: 40px;
}

.price-news{
  background-color: #fff;
}























/*contact*/

.form .Get-in-touch-with-us {
  width: 248px;
  height: 21px;
  margin: 80px 156px 30px;
  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}

.form .Rounded-Rectangle-2 {
  width: 299px;
  height: 46px;
  margin: 30px 14px 15px 58px;
  padding: 17px 208px 17px 16px;
  border: solid 1px #c8c8c8;
  background-color: var(--white);
}

.form .Rounded-Rectangle-2-copy-1 {
  width: 301px;
  height: 46px;
  margin: 30px 11px 15px 14px;
  padding: 17px 211px 17px 16px;
  border: solid 1px #c8c8c8;
  background-color: var(--white);
}

.form .First-name {
  width: 75px;
  height: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #a0a0a0;
}

.form .Rounded-Rectangle-2-copy-10 {
  width: 299px;
  height: 46px;
  margin: 15px 14px 14px 58px;
  padding: 0 121px 0 0;
  border: solid 1px #c8c8c8;
  background-color: var(--white);
}

.form .Rounded-Rectangle-2-copy-7 {
  width: 301px;
  height: 46px;
  margin: 15px 11px 14px 14px;
  padding: 17px 186px 17px 16px;
  border: solid 1px #c8c8c8;
  background-color: var(--white);
}

.form .Rounded-Rectangle-2-copy-2 {
  width: 57px;
  height: 46px;
  margin: 0 15px 0 0;
  padding: 16px 16px 18px 15px;
  border: solid 1px #c8c8c8;
}

.form .Rounded-Rectangle-2-copy-12 {
  width: 614px;
  height: 46px;
  margin: 14px 11px 15px 58px;

  border: solid 1px #c8c8c8;
  background-color: var(--white);
}

.contact-us .extra-service p{
  height: 15px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}

.form .Rounded-Rectangle-2-copy-11 {
  width: 614px;
  height: 146px;
  margin: 15px 11px 15px 58px;
  padding: 16px 534px 115px 16px;
  border: solid 1px #c8c8c8;
  background-color: var(--white);
}

.form .Rounded-Rectangle-2-copy-6 {
  width: 163px;
  height: 46px;
  margin: 15px 198px 80px 199px;
  padding: 14px 50px 17px 49px;
  border-radius: 23px;
  background-color: #1d7a8c;
}

.form .Submit {

  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: normal;
  text-align: left;
  color: rgb(255, 255, 255);
}

.map-banner { 
  padding: 13px 0 80px; 
  display: flex; 
  width: 1560px;
  height: 400px;
  object-fit: contain;
  position: relative; 
}













/*About*/

.big-paragraph {

  height: 231px;

  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #646464;
}

.about-banner { 
  padding: 100px 0 0px; 
  display: flex; 
  align-items: flex-end; 
  justify-content: flex-end; 
  position: relative; 
}

.about-banner img{
  width:100%; 
  height: 100%;
}

.copyright{
  font-size: 14px; 
  line-height: 1.71; 
  color: #9ba0a3; 
  font-family: 'Roboto';
  background-color: black;
}















/*service provider*/

.how-it-work-section { 
  padding: 68px 0 50px; 
  position: relative; }

.how-it-work-section:before { 
  content: ''; 
  position: absolute; 
  left: 0; 
  top: 27px; 
  background-image: url(../images/blog-left-bg.png); 
  background-repeat: repeat; 
  width: 154px; 
  height: calc(100% - 100px); 
  z-index: -1; }

.how-it-work-section:after { 
  content: ''; 
  position: absolute; 
  right: 0; 
  top: 27px; 
  background-image: url(../images/blog-right-bg.png); 
  background-repeat: no-repeat; 
  width: 174px; 
  height: calc(100% - 100px); 
  z-index: -1; }

.how-it-work-section 
.our-blog-block .blog-wrapper {
  padding-left: 245px;
  padding-right: 200px;
  padding-bottom: px;
}

.how-it-work-section 
.our-blog-block .blog-wrapper 
.one-block
{
  padding-top: 50px;
  padding-right: 57px;
}

.how-it-work-section 
.our-blog-block .blog-wrapper 
.one-img
{
  padding-left: 101px;
}

.how-it-work-section 
.our-blog-block h2 { 
  margin: 0 0 62px; 
  font-size: 40px;
}

.how-it-work-section 
.our-blog-block h3 {
  font-size: 30px;
}

.how-it-work-section 
.our-blog-block 
.blog-image img { 
  position: absolute; 
  height: 260px; 
  width: 260px; 
  left: 0; top: 0; 
  object-fit: cover; 
}

.how-it-work-section 
.our-blog-block 
.one-block p,a { 
  margin: 0 0 20px;
  font-size: 18px;
 }



.blog-image {
    width: 260px;
    height: 260px;
    object-fit: contain;
  }

  .white-box {
    position: relative;
    width: 430px;
    height: 664px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    display: flex;
  }


  .hero-banner-section 
  .my-block { 
    position: absolute; 
    left: 0; 
    top: auto; 
    bottom: 0px; 
    right: 0; 
    text-align: center; 
  }


  .white-box .Rounded-Rectangle-2 {
    width: 359px;
    height: 46px;
    margin-bottom: 15px;
    padding-left: 16px;
    border: solid 1px #c8c8c8;
    background-color: var(--white);
  }

  .white-box  
  .register{
    font-family: Roboto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    
  }

  .white-box 
  .get-started-button {
    margin-left: 115px;
    padding-top: 7px;
    width: 166px;
    height: 46px;
    border-radius: 23px;
    background-color: #1d7a8c;
  }

  .my-block .white-box label{
    font-size: 15px;
  }

  .my-block .white-box label a{
    font-size: 15px;
  }

  img.kepcha {
    padding-top: 16px;
    padding-bottom: 20px;
  }
  
  .checkbox-writing{
    font-size: 15px;
    padding-top: 5px;
  }

  
.white-arrow-link { 
  font-size: 18px; 

  color: #ffffff !important; 
  font-weight: 400; 
  font: bold;
  text-decoration: none; }

.white-arrow-link em { 
  margin-left: 10px; 
  position: relative; 
  right: 0; 
  transition: all 0.5s; 
}

.white-arrow-link:hover em { 
  right: -10px; 
}

.checkbox-writing{
  margin-left: 40px;
  text-align: left;
  position: relative;
}
.checkbox-writing 
#send-me, #accept{
  height: 20px;
  width: 20px;
  margin-right: 7px;
}

.checkbox-kepcha{
  margin-left: 40px;
  text-align: left;
  position: relative;
}

.checkbox-kepcha 
.checkbox-inside-image{
  text-align: left;
  height: 29px;
  width: 29px;
  position: absolute;
  margin-top: 39px;
  margin-left: 12px;
}


































/*upcoming-service*/

.upcoming-service-header{ 
  /*position: fixed; */
  z-index: 10; 
  background-color: #525252; 
  width: 100%;
}

.upcoming-service-header 
.container{ 
  max-width: 1520px;
}

.upcoming-service-header 
.container ul li a{
  font-family: 'Roboto';
  font-size: 17px;
  color: #fff;
  line-height: 24px; 
  position: relative;
}

.upcoming-service-header 
.container ul li a:hover{
  color: #fff;
}

.upcoming-service-header 
.container 
.navbar-nav 
.under-line a::before{
  content: '';
  position: absolute;
  display: block; 
  width: 100%; 
  height: 2px;
  bottom: 0; 
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease; 
  transform-origin: left;
}

.upcoming-service-header 
.container 
.navbar-nav 
.under-line a:hover::before{
  transform: scaleX(1);
}

.upcoming-service-header 
.navbar-nav 
.nav-item{
  margin-left: 20px;
}

.upcoming-service-header 
.container 
.navbar-nav 
.nav-item 
.border-btn{ 
  height: 40px; 
  border-radius: 20px; 
  background-color:#29626d;
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding-right: 20px; 
  padding-left: 20px;
}

.upcoming-service-header 
.container 
.navbar-nav 
.nav-item 
.border-btn:hover{
  background-color: #fff;
  color: #4F4F4F; 
}

.upcoming-service-header 
.container 
.navbar-nav 
.nav-item 
.border-btn-bg:hover{
  background-color: #fff;
  color: #4F4F4F;
}

.upcoming-service-header 
.container 
.navbar-nav 
.nav-item 
.border-btn-bg{
  height: 40px; 
  border-radius: 20px; 
  border: solid 1px rgba(255, 255, 255, 0.5);
  padding-right: 20px; 
  padding-left: 20px;
}

.welcome
.welcome-banner
{
  height: 119px;
  padding: 37px 0 0;
  background-color: #f9f9f9;
}

.welcome-banner
.Welcome-Sandip {
  font-family: Roboto;
  font-size: 30px;
  text-align: center;
  color: var(--greyish-brown);
}

.welcome-banner
.Welcome-Sandip
.text-style-1 {
  font-weight: bold;
}

.link-table table {
  color: #111111;
  width:262px;
  margin-right: 20px;
  background-color: #1d7a8c;
}

.link-table table,td,tr{
  border-collapse: collapse;
  border: 1px solid white;
}

.link-table
table 
td {
  text-align: left;
  padding-left: 10px;
}


.link-table
table 
td a{
  color: white;
  text-decoration: none;
  width:100%;
  display:block;
}

.link-table table tr{
  border-bottom:1px solid white;
}

.welcome .container{
  margin-top: 35px;
}


.welcome .container .data-table{
  color: #111111;
  font-size: 16px;
  background-color: #ffffff;
  width: 845px;
}
.data-table table,td,th,tr{
  border-collapse: collapse;
  border: 1px solid white;
}
.data-table table tr,th,td{
  border-bottom:1px solid white;
}

.data-table table td,th{
  height: 67px;
  padding-left: 10px;
}

.welcome .container .cencel-button {
  width: 80px;
  height: 34px;
  border-radius: 17px;
  background-color: #ff6b6b;
  align-items: center;
}

.welcome .container .cencel-button{
  color: white;
}


































/*Service History*/


.data-table table .rate-sp-button{
  height: 34px;
  width: 70px;
  border-radius: 17px;
  background-color: #6da9b5;
  color: white;
  border-style: none;
  font-size: 14px;
}

.hate-circle {
  width: 44px;
  height: 44px;
  border: solid 1px #aaa;
  border-radius: 100px;
  background-color: var(--white);
  padding: 12px 7px;
  margin-right: 10px;
}


.hate-circle img {
  width: 30px;
  height: 20px;
}

.welcome .container  
.export-button{
  display: flex;
  justify-content: space-between ;
  margin-top: 15px;
  margin-bottom: 15px;
}


.welcome .container  
.export-button button{ 
  width: 70px;
  height: 34px;
  border-radius: 17px;
  background-color: #146371;
  color: white;
  border-style: none;
}

.welcome .container  
.export-button h4{
  font-size: 20px;
}

.checked {
  color: #ecb91c;
}
.unchecked {
  color: #d4d4d4;;
}

.welcome .container  
.data-table .small-calender-logo{
  margin-right: 5px;
}

.payment{
  font-size: 24px;
  font-weight: bold;
  color: #1d7a8c;
}

.status-button-completed {
  width: 82px;
  height: 22px;
  text-align: center;
  background-color: #67b644;
  color:white;
  font-size: 13px;
}

.status-button-cancelled {
  width: 82px;
  height: 22px;
  text-align: center;
  background-color: #ff6b6b;
  color:white;
  font-size: 13px;
}

.welcome .container 
.export-block{
  width: 845px;
}


.service-history-flex{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}