@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}

    <div class="faq-banner">
        <img src="~/images/group-16/group-16.png" alt="contact-Banner">
    </div>

    <!-- contact us Section -->
    <section class="contact-us">
        <div class="container text-center">
            <h2 id='p1'>Contact Us</h2>
            <div class="d-flex justify-content-center">
                <div class="line1"></div>
                <img src="~/images/forma-1-copy-5.png">
                <div class="line1"></div>
            </div>

            <div class="extra-service">
                <div class="extra-service-block">
                    <div class="inside-extra-service">
                        <img src="~/images/location-logo/forma-1.png" alt="">
                    </div>
                    <p>1111 Lorem ipsum text 100,<br>
                        Lorem ipsum AB</p>
                </div>

                <div class="extra-service-block">
                    <div class="inside-extra-service">
                        <img src="~/images/call-logo/phone-call.png" alt="">
                    </div>
                    <p>+49 (40) 123 56 7890<br>+49 (40) 987 56 0000</p>
                </div>

                <div class="extra-service-block">
                    <div class="inside-extra-service">
                        <img src="~/images/mail-logo/vector-smart-object.png" alt="">
                    </div>
                    <p>info@helperland.com</p>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>

    <!-- form -->
    <section class="form">
        <div class="container text-center">
            <span class="Get-in-touch-with-us">
                Get in touch with us
            </span>

            <div class="d-flex flex-wrap justify-content-around">
                <div class="">
                    <input type="text" placeholder="first name" id="first-name" class="">
                </div>
                <div class="">
                    <input type="text" placeholder="last name" id="last-name" class="">
                </div>
            </div>

            <div class="d-flex flex-wrap justify-content-around">
                <div>
                    <input type="text" placeholder="Mobile number" id="mob-number" class="">
                </div>
                <div>
                    <input type="email" placeholder="Email address" id="email" class="">
                </div>
            </div>
            <div class="justify-content-center">
                <select name="general" id="subject" class="">
                    <option value="">Subject</option>
                    <option value="">a</option>
                    <option value="">b</option>
                    <option value="">c</option>
                </select>
            </div>
            <div class="">

                <textarea name="myTextBox" placeholder="text" cols="50" rows="5" class="textarea"></textarea>

            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <div>
                    <button id="Submit" class="Rounded-Rectangle-2-copy-6">Submit</button>
                </div>

            </div>
        </div>
    </section>


    <!-- map banner -->
    <section class="map-block">
        <iframe allowfullscreen="" frameborder="0"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJxzZgCD_hvkcRTC-2Pt6bXt0&amp;key=AIzaSyAag-Mf1I5xbhdVHiJmgvBsPfw7mCqwBKU"></iframe>
    </section>
    <!-- News Letter -->
    <section class="our-news-letter">
        <div class="container text-center">
            <h2>GET OUR NEWSLETTER</h2>
            <div class="row justify-content-center align-items-center">
            <div class="col-md-3" style="display: flex; justify-content: center;">
                <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
            </div>

            <div class="col-lg-1 btn-wrapper text-center">
                <button class="red-btn">Submit</button>
            </div>
        </div>
        </div>
    </section>