@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model HelperLand.ViewModels.HelperViewModel

@{
    ViewData["Title"] = "HelperRegistration";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="wrapper">
    <main>
        <section class="hero-banner-section" style="background-image: url(../images/service_provider-banner/group-18.png);">
            <div class="mx-auto" style="margin-top:-50px;">
                <div class="white-box container">
                    <form class="white-box-content">
                        <div class="register">
                            Register Now!
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <input asp-for="FirstName" maxlength="100" class="form-control" placeholder="First Name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <input asp-for="LastName" maxlength="100" class="form-control" placeholder="Last Name" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <input asp-for="Mobile" onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="10" class="form-control" placeholder="Phone Number" />
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <input asp-for="Email" id="pleaseEmail" class="form-control" placeholder="Email Address" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <input asp-for="Password" id="pleasePassword" type="password" maxlength="24" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="message">
                              <h6>Password must contain the following:</h6>
                              <p id="letter" class="invalid1">A <b>lowercase</b> letter</p>
                              <p id="capital" class="invalid1">A <b>capital (uppercase)</b> letter</p>
                              <p id="number" class="invalid1">A <b>number</b></p>
                              <p id="spesymb" class="invalid1">A <b>Special</b> Symbole like !@@#$%^&*()\-_+.=<>,?/:;|~{}</p>
                              <p id="length" class="invalid1">Minimum <b>8 characters</b></p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    <input asp-for="ConfirmPassword" type="password" maxlength="24" class="form-control" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3 checkbox-writing">
                            <div class="col">
                                <div class="form-group d-flex">
                                    <input type="checkbox" id="send-me" name="send-me" value="send-me">
                                    <label for="send-me">Send me newsletters from Helperland</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3 checkbox-writing">
                            <div class="col">
                                <div class="form-group d-flex">
                                    <input type="checkbox" id="accept" name="accept" value="accept">
                                    <label for="accept">I accept 
                                        <a style="color: #1d7a8c; text-decoration:none;" href="#">terms and conditions</a> & 
                                        <a style="color: #1d7a8c; text-decoration:none;" href="#">privacy policy</a>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-center" style="margin:20px 0;">
                            <button type="button" id="Helper_Registration" class="form-control get-started-button white-arrow-link" disabled>Get Started</button>
                        </div>
                    </form>
                </div>

                <div class="scroll-link-wrapper">
                    <a href="#" title="Scroll Down" class="scroll-link">
                        <img src="../images/white-down-arrow.png" alt="Scroll-down">
                    </a>
                </div>
            </div>
        </section>

        <section class="how-it-work-section">
            <div class="container">
                <h2 class="text-center">How it works</h2>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-4 col-md-4 order-md-1 order-sm-2 order-2">
                        <h3>Register yourself</h3>
                        <p>Provide your basic information to register
                            yourself as a service provider.</p>
                        <a href="#" title="Read More" class="arrow-link">Read More
                            <em>
                                <img src="../images/right-arrow-gray.png" alt="right arrow">
                            </em>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-5 order-md-2 order-sm-1 order-1">
                        <div class="work-section-img">
                            <img src="../images/register-yourself/group-18.png" alt="blog-image">
                        </div>
                    </div>

                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-4 col-md-4 order-2">
                        <h3>Get service requests</h3>
                        <p>You will get service requests from
                            customes depend on service area and profile.</p>
                        <a href="#" title="Read More" class="arrow-link">Read More<em><img
                                    src="../images/right-arrow-gray.png" alt="right arrow"></em></a>
                    </div>
                    <div class="col-lg-4 col-md-5 order-1">
                        <div class="work-section-img">
                            <img src="../images/get-service-request/group-18.png" alt="blog-image">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-4 col-md-4  order-md-1 order-sm-2 order-2">
                        <h3>Complete service</h3>
                        <p>Accept service requests from your customers
                            and complete your work.</p>
                        <a href="#" title="Read More" class="arrow-link">Read More<em><img
                                    src="../images/right-arrow-gray.png" alt="right arrow"></em></a>
                    </div>
                    <div class="col-lg-4 col-md-5 order-md-2 order-sm-1 order-1">
                        <div class="work-section-img">
                            <img src="../images/complete-service/group-18.png" alt="blog-image">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="our-news-letter">
        <div class="container text-center">
            <h2>GET OUR NEWSLETTER</h2>
            <div class="row justify-content-center align-items-center">
            <div class="col-md-3" style="display: flex; justify-content: center;">
                <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
            </div>

            <div class="col-lg-1 btn-wrapper text-center">
                <button class="red-btn">Submit</button>
            </div>
        </div>
        </div>
    </section>
    </main>
</div>


@section Scripts{
    <script>
        $(document).ready(function() {
            
            $("#Helper_Registration").click(function(){
                var model = {
                    FirstName: $('#@Html.IdFor(x=>x.FirstName)').val(),
                    LastName: $('#@Html.IdFor(x=>x.LastName)').val(),
                    Email: $('#pleaseEmail').val(),
                    Mobile: $('#@Html.IdFor(x=>x.Mobile)').val(),
                    Password: $('#pleasePassword').val(),
                    ConfirmPassword: $('#@Html.IdFor(x=>x.ConfirmPassword)').val()
                }
            
                //alert(model.Email);
                //alert(model.FirstName);
                //alert(model.LastName);
                //alert(model.Mobile);
                //alert(model.Password);
                //alert(model.ConfirmPassword);
                if(model.FirstName!="" && model.LastName!="" && model.Mobile!="" && model.Email!="" && model.Password!="" && model.ConfirmPassword!="")
                {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("HelperRegistration", "UserTable")',
                        data: model,
                        dataType: "json",
                        success: function(data) {
                            //alert(JSON.stringify(data));
                            //alert("inside");
                            if(!data)
                            {
                                alert("Data Added Successfully");
                                $('#@Html.IdFor(x=>x.FirstName)').val("");
                                $('#@Html.IdFor(x=>x.LastName)').val("");
                                $('#@Html.IdFor(x=>x.Mobile)').val("");
                                $('#pleaseEmail').val("");
                                $('#pleasePassword').val("");
                                $('#@Html.IdFor(x=>x.ConfirmPassword)').val("");
                                $("#accept").prop('checked',false);
                            }
                            else{
                                alert("This Email already in Used !");
                                $('#pleaseEmail').val("");
                            }
                        },
                        error: function(e) {
                            alert("Error: " + e);
                        }
                    
                    });
                }
                else
                {
                    alert("All field Requered Please Fill !");
                }
            
            
            });


            $("#accept").change(function(){
                if($("#accept").prop("checked")){
                    $("#Helper_Registration").removeAttr("disabled");
                }
                else{
                    $("#Helper_Registration").prop("disabled",true);
                }
            });
        });







    </script>
}